body {
    background-color: #f7f5fa;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}


.heading {
    text-align: center;
    padding: 20px 0;
    background-color: #a08eb4;
    
}
.heading h1 {
    color: black;
}
.heading a {
    display: inline-block;
    color: #79229c;
    font-weight: 600;
    text-decoration: none;
    font-size: large;
}
.heading a:hover {
    text-decoration: underline;
}
.heading p {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    font-size: large;
}
.profile-image {
    text-align: center;
    margin: 30px 0;
}
.profile-image img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #7b2bbd;
}
section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}
.myinfo section h1 {
    font-size: 2rem;
    color: #7b2bbd;
    margin-bottom: 10px;
}
.myinfo section h2 {
    font-size: 1.5rem;
    color: black;
    margin-top: 15px;
    margin-bottom: 10px;
}

.myinfo section p {
    font-size: 1rem;
    line-height: 1.6; 
    margin-bottom: 10px;
    color: #333; 
    font-size: large;
}
h2 {
    color: #5b2caf;
    margin-bottom: 10px;
}

.myinfo ul { 
    margin-top: 10px;
}

.myinfo li {
    padding: 8px 14px;
    margin: 5px;
    
}

.projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.myprojects section h2 {
    font-size: 1.8rem;
    color: #5b2caf;
    margin-bottom: 15px;
}
.myprojects section h3 {
    font-size: 1.4rem;
    color: black;
    margin-bottom: 5px;
}
.myprojects section p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333; 
    margin-bottom: 5px;
    font-size: large;
}
.contact h1 {
    color: #5b2caf;
}
.contact ul li a {
    font-size: large;
    color: #7f00b1;
    
}
.contact ul {
    line-height: 1.6;
}
.contact ul :hover {
    text-decoration: underline;
}
